# default release tags
include:
  - project: 'pve-cloud/pve-cloud-pipelines'
    file: 'release-tag.yml'
    ref: 'master'


# trigger the new pipeline manually as the ci token cannot https://gitlab.com/gitlab-org/gitlab/-/issues/569974
# also cannot put this include since CI variable evaluation is stupid
trigger_version_tag:
  stage: deploy
  image: alpine/curl:8.14.1
  dependencies:
    - release_tag
  script:
    - source tag.env
    - |
      curl --request POST \
        --form "token=${CI_JOB_TOKEN}" \
        --form "ref=${NEW_TAG}" \
        "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/trigger/pipeline"
  rules:
    - if: '$CI_COMMIT_TAG =~ /^release-[a-z]+$/'    


# pipeline trigger if the upstream releases
py_pve_cloud_upstream:
  stage: build
  image: alpine/git:v2.49.1

  script:
    # write the new version
    - sed -i "s/^ARG PY_PVE_CLOUD=.*$/ARG PY_PVE_CLOUD=${PY_PVE_CLOUD}/" Dockerfile
    - COMMIT_MESSAGE="Update py-pve-cloud version to $PY_PVE_CLOUD"

    - *push_script
  rules:
    - if: ( $PY_PVE_CLOUD != null || $PY_PVE_CLOUD =~ /^./ ) # set by upstream


# call the pipeline for the release patch tag we just created above
trigger_upstream_release_tag:
  stage: deploy
  image: alpine/curl:8.14.1
  script:
    - |
      curl --request POST \
        --form "token=${INCLUDING_JOB_TOKEN}" \
        --form "ref=${UPSTREAM_TAG_MESSAGE}" \
        "${CI_API_V4_URL}/projects/${INCLUDING_PROJECT_ID}/trigger/pipeline"
  rules:
    - if: ( $PY_PVE_CLOUD != null || $PY_PVE_CLOUD =~ /^./ ) # set by upstream


# actual image build and release
release_image:
  stage: deploy
  image:
    name: gcr.io/kaniko-project/executor:v1.13.0-debug
    entrypoint: [""]
  script:
    - echo $DOCKER_AUTH_CONFIG_B64 | base64 -d > /kaniko/.docker/config.json
    - echo "__version__ = \"$CI_COMMIT_TAG\"" > src/pve_cloud_ctrl/_version.py # dynamic versioning
    - /kaniko/executor
      --context "${CI_PROJECT_DIR}"
      --dockerfile "${CI_PROJECT_DIR}/Dockerfile"
      --destination "tobiashvmz/pve-cloud-controller:$CI_COMMIT_TAG"
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/'


downstream_tf_modules:
  stage: deploy
  # no needs:, can trigger async
  trigger:
    project: "pve-cloud/pve-cloud-tf"
  variables:
    PVE_CLOUD_CONTROLLER: $CI_COMMIT_TAG
    UPSTREAM_TAG_MESSAGE: $CI_COMMIT_TAG_MESSAGE
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/' # semver

