release_tag:
  stage: build
  image: tobiashvmz/pve-cloud-ci:2025121321
  script:
    - pwd
    - /scripts/release-tag.sh
  rules:
    - if: '$CI_COMMIT_TAG =~ /^release-[a-z]+$/'
    - if: '$CI_COMMIT_TAG =~ /^release-all-[a-z]+$/'
  resource_group: deploy-prod


# pipeline trigger if the upstream releases
py_pve_cloud_upstream:
  stage: build
  image: tobiashvmz/pve-cloud-ci:2025121321
  script:
    # write the new version
    - sed -i "s/^ARG PY_PVE_CLOUD=.*$/ARG PY_PVE_CLOUD=${PY_PVE_CLOUD}/" Dockerfile
    - /scripts/upstream-push.sh "Update py-pve-cloud version to $PY_PVE_CLOUD"
  rules:
    - if: ( $PY_PVE_CLOUD != null || $PY_PVE_CLOUD =~ /^./ ) # set by upstream


# call the pipeline for the release patch tag we just created above - not included in default pipelines
trigger_upstream_release_tag:
  stage: deploy
  image: alpine/curl:8.14.1
  script:
    - |
      curl --request POST \
        --form "token=${CI_JOB_TOKEN}" \
        --form "ref=${UPSTREAM_TAG_MESSAGE}" \
        "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/trigger/pipeline"
  rules:
    - if: $UPSTREAM_TAG_MESSAGE =~ /-all-/ && ( $PY_PVE_CLOUD != null || $PY_PVE_CLOUD =~ /^./ ) # set by upstream


# actual image build and release
release_image:
  stage: deploy
  image:
    name: gcr.io/kaniko-project/executor:v1.13.0-debug
    entrypoint: [""]
  script:
    - echo $DOCKER_AUTH_CONFIG_B64 | base64 -d > /kaniko/.docker/config.json
    - echo "__version__ = \"$CI_COMMIT_TAG\"" > src/pve_cloud_ctrl/_version.py # dynamic versioning
    - /kaniko/executor
      --context "${CI_PROJECT_DIR}"
      --dockerfile "${CI_PROJECT_DIR}/Dockerfile"
      --destination "tobiashvmz/pve-cloud-controller:$CI_COMMIT_TAG"
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/'


downstream_tf_controller_module:
  stage: deploy
  trigger:
    project: "pve-cloud/terraform-proxmox-cloud-controller"
  variables:
    PVE_CLOUD_CONTROLLER: $CI_COMMIT_TAG
    UPSTREAM_TAG_MESSAGE: $CI_COMMIT_TAG_MESSAGE
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/' # semver