release_tag:
  stage: build
  image: docker.io/tobiashvmz/pve-cloud-ci:2025122115
  script:
    - pwd
    - /scripts/release-tag.sh
  rules:
    - if: '$CI_COMMIT_TAG =~ /^release-[a-z]+$/'
    - if: '$CI_COMMIT_TAG =~ /^release-all-[a-z]+$/'
  resource_group: deploy-prod


# pipeline trigger if the upstream releases
py_pve_cloud_upstream:
  stage: build
  image: docker.io/tobiashvmz/pve-cloud-ci:2025122115
  script:
    # write the new version
    - PESSIMISTIC_CONSTRAINT=$(/scripts/get-pessimistic-semver.sh $PY_PVE_CLOUD)
    - sed -i "s/^py-pve-cloud>=.*$/py-pve-cloud>=${PY_PVE_CLOUD},<${PESSIMISTIC_CONSTRAINT}/" requirements.txt
    - /scripts/upstream-push.sh "Update py-pve-cloud version to $PY_PVE_CLOUD (pessimistic)"
  rules:
    - if: ( $PY_PVE_CLOUD != null || $PY_PVE_CLOUD =~ /^./ ) # set by upstream


# call the pipeline for the release patch tag we just created above - not included in default pipelines
trigger_upstream_release_tag:
  stage: deploy
  image: alpine/curl:8.14.1
  script:
    - |
      curl --request POST \
        --form "token=${CI_JOB_TOKEN}" \
        --form "ref=${UPSTREAM_TAG_MESSAGE}" \
        "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/trigger/pipeline"
  rules:
    - if: $UPSTREAM_TAG_MESSAGE =~ /-all-/ && ( $PY_PVE_CLOUD != null || $PY_PVE_CLOUD =~ /^./ ) # set by upstream


# actual image build and release
release_image:
  stage: deploy
  retry: 1 # even with check logic for pypi package rdy on index, calls after still sometimes fail
  image:
    name: quay.io/podman/stable:v5.7.1
  script:
    # exit if ci vars are not defined for building
    - |
      if [ -z $DOCKER_AUTH_CONFIG_B64 ]; then
        echo "Docker auth ci variable not defined!"
        exit 0
      fi
    - mkdir -p /root/.config/containers
    - echo $DOCKER_AUTH_CONFIG_B64 | base64 -d > /root/.config/containers/auth.json
    - echo "__version__ = \"$CI_COMMIT_TAG\"" > src/pve_cloud_ctrl/_version.py 
    - podman build --layers --cache-from tobiashvmz/pve-cloud-controller-cache --cache-to tobiashvmz/pve-cloud-controller-cache -t tobiashvmz/pve-cloud-controller:$CI_COMMIT_TAG .
    - podman push tobiashvmz/pve-cloud-controller:$CI_COMMIT_TAG
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/'


downstream_tf_controller_module:
  stage: deploy
  trigger:
    project: "pve-cloud/terraform-pxc-controller"
  variables:
    PVE_CLOUD_CONTROLLER: $CI_COMMIT_TAG
    UPSTREAM_TAG_MESSAGE: $CI_COMMIT_TAG_MESSAGE
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/' # semver